* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: URL("https://www.bing.com/images/search?view=detailV2&ccid=D8h1DVCy&id=2210CED65861F2F7023EAA3104C55B64C60B7108&thid=OIP.D8h1DVCyt-9mwz1EkJRi3gHaD4&mediaurl=https%3a%2f%2fwww.quizony.com%2fgame-guess-the-number%2fimageForSharing.png&exph=1000&expw=1910&q=guess+t+he+numebr+images&simid=608055945300879904&FORM=IRPRST&ck=9CFA6B29990F5303941665C64DA62DA1&selectedIndex=7");
    background-color: whitesmoke;
    background-size: cover;
    font-family: 'Ranchers', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    line-height: 1.6;
    height: 100vh;
    padding: 0 20px;
}

.logo {
    font-size: 5em;
    color: yellow;
    width: 400px;
    text-align: center;
    text-shadow:
        -5px -5px 0 white,
        5px -5px 0 white,
        -5px 5px 0 white,
        5px 5px 0 white;
}

.button {
    background-color: salmon;
    margin: 30px 0;
    border-radius: 4px;
    min-width: 100px;
    padding: 10px 15px;
    text-align: center;
    font-size: 1.2em;
    color: white;
    cursor: pointer;
}

.nav-links a:hover {
    color: #1c0310;
}


h1 {
    color: red;
    text-align: center;
    margin: 20px;
    text-size-adjust: 200px;
}

#input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    margin: 30px;
    width: 200px;
    text-align: center;
    font-size: 1.3em;
    height: 2.5em;
}

#message {
    font-size: 1.5em;
    background-color: darkmagenta;
    color: white;
    padding: 5px 15px;
    border-radius: 2px;
    text-align: center;
    display: none;
}

#lives-text {
    color: white;
}

img {
    width: 60%;
    max-width: 300px;
}